@model IEnumerable<MVC.Brand>

@{
    ViewData["Title"] = "Index";
}

<h1>Brand List</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BrandId" class="btn btn-sm btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BrandId" class="btn btn-sm btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BrandId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
